body{
	margin: 0;
	font-family: Gotham,Arial,Helvetica Neue,Helvetica,sans-serif;
}

.wrapper {
	max-width: 1120px;
	margin: 0 auto;
}

#welcome{
	background-color: #ffc244;
	padding: 0 0 0;
}

.button{
	padding: 13.5px 20px;
	font-size: 14px;
	line-height: 16px;
	background-color: #fff;
	color: #4a4a4a;
	border: 0;
	outline: none;
	border-radius: 100px;
	cursor: pointer;
	box-shadow: 3px 3px 5px 0 rgba(0,0,0,.1);
	font-weight: 700;
	min-width: 120px;
	margin-left: 10px;
}

.button:hover{
	background-color: #f5f5f5;
}

.button--green{
	background-color: #2abb9b;
	color: #fff
}

.button--green:hover{
	transition: .3s;
    background-color: #00a082;
} 

.header{
	padding: 35px 0;
	display: flex;
	justify-content: space-between;
	margin: 0 auto 25px;
	max-width: 90%;
}

.header_button{
	background: transparent;
	border: none;
	color: #fff;
    font-size: 14px;
    position: relative;
    cursor: pointer;
    letter-spacing: 1px;
    display: flex;
    outline: none;
}


.header_button-text{
	padding: 10px;
	margin: 0;
}

.header_button:hover {
	opacity: .8;
}

.welcome_logo{
	margin: 0 auto 40px;
	display: block;
	width: 150px;
}

.welcome_title{
	color: #fff;
	text-align: center;
	font-size:60px;
	font-weight: 600;
	letter-spacing: 2px;
	margin: 0;
}

.welcome_city{
	color: #00a082;
	font-size:60px;
	border: none;
	background: transparent;
	outline: none;
	font-weight: 600;
	position: relative;
	cursor: pointer;
}

.picker-arrow{
	padding: 5px;
	margin: 5px;
}

.welcome_city:hover{
	transition: .3s;
    filter: brightness(.7);
}

.picker-arrow:hover{
	
}

/*.welcome_city:after{
	content: '>';
	width: 24px;
    height: 24px;
    margin-top: .2em;
    position: absolute;
    font-size:30px;
    transform: rotate(90deg);
}*/

.welcome_subtitle{
	color: #fff;
	text-align: center;
	font-size: 48px;
	font-weight: 600;
	letter-spacing: 2px;
	margin: 0 0 50px;
}

.categories{
	display: flex;
  	/*align-items: center;*/
 	max-width: 700px;
 	margin: 0 auto;
 	flex-wrap: wrap;
 	justify-content: center;
}

.category{
	width: 115px;
	height: 115px;
	background: #fff;
	border-radius: 50%;
	text-decoration: none;
	box-shadow: 0 2px 17px 0 #e19f17;
	margin: 12.5px;
}

.category:hover{
    transform: scale(1.12);
    animation-timing-function: cubic-bezier(.075,.82,.165,1);
    box-shadow: 2px 6px 20px 4px rgba(225,159,23,.36);
    outline: none;
}

.category_image{
	width: 60px;
	height: 60px;
	display: block;
	margin: 5px auto 0;
}

.category_text{
	margin: 9px 0 0;
	font-size: 13px;
	font-weight:300;
	text-align: center;
	color: #000;
}

@media (max-width: 600px) {
	.header{
		display: flex; 
		flex-direction: column;
		align-items: center;
		justify-content: center;

	}
}

.curve{
	padding-bottom: 11vw;
	display: flex;
	background-color: #ffc244;
	padding-bottom: 13vw;
	overflow: hidden;
	position: relative;
	padding-top: 25px;
	background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}


#moto{
	position: relative;
	min-height: 100px;
}

.moto_dude{
	position: absolute;
	left: 0;
	top: 0;
	animation: myAnimation 7s infinite;
}

@keyframes myAnimation {
	0% {
		left: 0; 
		transform: rotateY(0);      
	  }

	49% {
		transform: rotateY(0);       
	  }

	50% {
		transform: rotateY(180deg);
		left: calc(100% - 95px);
	}
	
	99% {
		transform: rotateY(180deg);
	}

	100% {
		left: 0;
		transform: rotateY(0);
	}
}

.stores_title{
	text-align: center;
	font-size: 36px;
    line-height: 50px;
    color: #000;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 auto 20px;
}

.stores_subtitle{
	text-align: center;
    margin: 0 auto 60px;
    font-size: 18px;
    color: #9b9b9b;
    letter-spacing: 1px;
    font-weight: 300
}

#stores{
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
    max-width: 1120px;
    padding: 0;
    position: relative;
    width: 100%;
	box-sizing: border-box;
	justify-content: space-around;
}

.stores_item{
	border-radius: 10px;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,.1);
    margin-bottom: 40px;
    min-width: 260px;
    background: #FFFFFF;
    cursor: pointer;
}

.stores_image{
	height: 168px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.stores_text{
	font-stretch: 20px;
	padding: 20px;
}

.stores_item:hover{
	will-change: transform;
    transform: scale(1.04);
   	box-shadow: 2px 4px 40px 0 rgba(0,0,0,.08);
    animation-timing-function: cubic-bezier(.075,.82,.165,1);       
}


.landing-application{
    position: relative;
    margin-top: 45px;
}

.landing-application__bg{
	width: 100%;
    height: 400px;
    position: absolute;
    top: 40px;
}

@media (max-width: 1024px){
	.landing-application__bg{
    height: 230px;
    top: 15px;
	}
}

@media (max-width: 645px){
	.landing-application__bg{
    height: 545px;
	}
}

.landing-application-container{
    box-orient: horizontal;
    box-direction: normal;
    flex-direction: row;
    display: box;
    display: flex;
    box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container{
    margin: 0 auto;
    max-width: 1120px;
    padding: 0;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.landing-application-container__phone{
    height: 100%;
    max-height: 500px;
    width: auto;
    border-style: none;
}


@media (max-width: 1024px){
	.landing-application-container__phone{
    max-height: 270px;
    width: auto;
	}
}


.landing-application-container__description{
	margin-left: -35px;
}

@media (max-width: 1024px){
.landing-application-container__description{
    margin-left: -34px;
    }
}

@media (max-width: 645px){
.landing-application-container__description{
    margin-left: 0;
    }
}

.title{
    font-size: 40px;
    margin: 110px 0 0;
    line-height: 50px;
    color: #000;
    font-weight: 600;
}

@media (max-width: 1024px){
.title{
    margin-top: 55px;
    font-size: 24px;
    line-height: 30px;
	}
}


@media (max-width: 645px){
.title{
    margin-top: 0;
	text-align: center;
	}
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.title__line:first-child {
    margin-left: -60px;
}

@media (max-width: 645px){
.title__line:first-child{
   margin-left: 0;
	}
}

.title__line{
    display: block;
    letter-spacing: 2px;
}

.title__brand{
    color: #2abb9b;
}

.description{
    line-height: 1.44;
    font-size: 18px;
    margin: 18px 0 0;
    padding-left: 50px;
    color: #4a4a4a;
    letter-spacing: 1px;
}

@media (max-width: 1024px){
.description{
    font-size: 14px;
    line-height: 20px;
	}
}

@media (max-width: 645px){
.description{
    text-align: center;
    padding: 0 20px;
    margin: 20px 0 0;
	}
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.description__line{
    display: block;
}

@media (max-width: 645px){
.description__line{
    display: inline;
	}
}

.description__line:last-child {
    padding-left: 30px;
}

@media (max-width: 645px){
.description__line:last-child{
    padding-left: 0;
	}
}

.buttons{
    margin-top: 40px;
    padding-left: 80px;
}

@media (max-width: 1024px){
.buttons{
    margin-top: 10px;
    padding-left: 50px;
	}
}

@media (max-width: 645px){
.buttons{
    display: flex; 
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	padding-left: 0;
	}
}
/*
.column{
    padding: 3px 7px;
}
*/

@media (max-width: 1024px){
.store-icon{
    width: 130px;
	}
}

@media (max-width: 645px){
.store-icon{
    width: 160px;
	}
}

.landing-business{
    padding: 70px 20px 60px;
    display: flex;
    flex-direction: column;
   
}

.landing-bussiness-container{
    margin: 0 auto;
    min-height: 240px;
    background: #4a4a4a;
    border-radius: 8px;
    overflow: hidden;
    transition: .3s;
    padding-left: 0!important;
    padding-right: 0!important;
}

@media (max-width: 645px){
.landing-bussiness-container{
    height: auto;
    flex-direction: column-reverse;
   	margin: 35px auto;
	}
}

.cols {
    display: flex;
    flex-wrap: wrap;
}

.landing-business__caption{
    width: 60%;
}

.landing-business__caption{
    margin-top: 38px;
    color: #fff;
}

@media (max-width: 645px){
.landing-business__caption{
    width: 100%;
    text-align: center;
    margin-top: 24px;
	}
}

.landing-business__caption>*{
    margin-left: 57px;
}

.landing-business__caption__title>img{
    max-width: 100%;
    margin-bottom: 15px;
}

@media (max-width: 645px){
.landing-business__caption__title{
    margin: 0 auto;
	}
}

.landing-business__caption__text{
    font-size: 16px;
    line-height: 1.56;
    max-width: 550px;
    margin-right: 40px;
    margin-bottom: 26px;
}

@media (max-width: 645px){
.landing-business__caption__text{
    font-size: 14px;
    margin: 10px 20px 0;
	}
}

.landing-business__button{
    margin-bottom: 38px;
}

@media (max-width: 645px){
.landing-business__button{
    margin-left: 0;
    margin-top: 0;
    position: static;
    margin-bottom: 38px;
	}
}

.landing-business__button .buttonB{
    display: inline-block;
    padding: 17px 80px;
    font-size: 16px;
    height: 50px;
    width: 280px;
}

@media (max-width: 645px){
.landing-business__button .buttonB{
    display: block;
    margin: 25px auto 20px;
	}
}

.buttonB {
    font-weight: 700;
    text-decoration: none;
    min-width: 120px;
    color: #fff;
    border: none;
    text-align: center;
    cursor: pointer;
    outline: none;
    max-width: 340px;
    margin: 0 auto;
    padding: 15px 75px;
    background: linear-gradient(307deg,#fbc033,#fcd33c);
    box-sizing: border-box;
    border-radius: 30px;
}

.landing-business__image{
    background-repeat: no-repeat;
	background-size: auto 100%;
	width: 40%;
    vertical-align: middle;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

@media (max-width: 645px){
.landing-business__image{
    width: 100%;
    height: 40vw;
    background-position: 100% 0;
    background-size: 110%;
	}
}
.landing-business__image .landing-business__markers{
    margin-left: -40px;
}

@media (max-width: 645px){
.landing-business__image .landing-business__markers{
    margin: 0 auto -35vw;
    width: 20vw;
	}
}

.landing-corporate{
    padding: 0;
}

.landing-corporate .title{
    line-height: 1.2em;
    margin: 0 5px;
}

.landing-corporate> .collection{
    justify-content: center;
}

.collection {
    padding: 10px 0;
    flex-wrap: wrap; /* wrap */
}

.collection-item--with-button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col.one-third {
    width: 30.83333%;
    flex: none;
}

.collection-item {
    border-radius: 10px;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,.1);
    text-decoration: none;
    overflow: hidden;
    margin-bottom: 40px;
    min-width: 260px;
}

.col{
    margin: 1.25%;
    box-sizing: border-box;
}

.collection-item--with-button .card-image{
    height: 270px;
}

.collection-item .card-image>img{
    width: 100%;
    object-fit: cover;
}

.collection-item--with-button .card-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 24px 28px;
}

.collection-item--with-button .card-content .title{
    font-size: 26px;
    margin-bottom: 12px;
}

.collection-item .card-content .title{
    color: #000;
    line-height: 24px!important;
    margin: 0 0 12px!important;
    letter-spacing: 1px;
}

.collection-item--with-button .card-content .subtitle{
    margin-top: 5px;
    margin-bottom: 16px;
}

.landing-corporate .subtitle{
    line-height: 1.1em;
}

.subtitle {
    font-size: 18px;
    color: #9b9b9b;
    line-height: 24px;
    letter-spacing: 1px;
}

.collection-item--with-button .card-content .description{
    color: #4a4a4a;
    line-height: 21px;
    margin-bottom: 24px;
    padding-left: 0;
    font-weight: 300;
    font-size: 14px;
}

.collection-item--with-button .card-content .button{
    display: block;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;
}

.button.md{
    padding: 16px 28px;
    font-weight: 700;
    text-decoration: none;
    min-width: 120px;
    color: #fff;
    background-color: #2abb9b;
    font-size: 18px;
    border-radius: 100px;
    border: none;
    text-align: center;
    cursor: pointer;
    outline: none;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);
    backdrop-filter: blur(10px);
    max-width: 340px;
    margin: 0 auto;
}

.button:hover {
    transition: .3s;
    background-color: #00a082;
}

@media (max-width: 1024px){
.landing-corporate .collection-item--with-button{
    width: 80%;
	}
}

@media (max-width: 1024px){
.collection-item--with-button .card-image{
    height: 350px;
    object-fit: cover;
	}
}

@media (max-width: 1024px){
.landing-corporate .collection-item--with-button .card-content{
    text-align: center;
	}
}

@media (max-width: 1024px){
.landing-corporate .title{
    text-align: center;
    font-size: 36px;
	}
}

.appfooter-wrapper{
    position: relative;
}

footer{
    display: block;
}

.appfooter, .appfooter .appfooter__container{
    transform: rotate(180deg);
}

.appfooter{
    background-color: #303030;
    color: #9b9b9b;
    position: relative;
    overflow: hidden;
    padding-bottom: 240px;
    padding-top: 20px;
}

.has-curve{
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.appfooter, .appfooter .container{
    margin: 30px auto 0;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.row, .row-vertical{
    display: flex;
    padding: 0;
    width: 100%;
}

.appfooter .appfooter__links{ /*????*/
    list-style: thai;
}

.appfooter .column{
    flex: 1 1 auto;
    max-width: 157px;
}

.appfooter .appfooter__logo img{
    margin-bottom: 18px;
    cursor: pointer;
}

.appfooter .appfooter__links .headline{
    margin-top: 15px;
    margin-bottom: 23px;
    text-transform: uppercase;
}
.appfooter .appfooter__link{
    cursor: pointer;
    display: block;
    font-size: 13px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    margin: 18px 0;
    font-weight: 300;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.14);
    text-decoration: none;

}

.appfooter .store-icon{
    width: 156px;
    margin-top: 10px;
}

.appfooter .appfooter__language-picker{
    flex: 1 0 100%;
    margin-top: 30px;
    max-width: unset;
    padding-left: 15px;
}

.language-picker{
    border-radius: 7px;
}

.el-select{
    display: inline-block;
    position: relative;
}

.el-select>.el-input {
    display: block;
}

.el-input {
    position: relative;
    font-size: 14px;
    display: inline-block;
    width: 100%;
}

.language-picker .el-input__inner {
    background-color: #303030;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    height: 46px;
    cursor: pointer;
}

.el-input--suffix .el-input__inner {
    padding-right: 30px;
}

.el-input__inner {
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    display: inline-block;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
}

@media (max-width: 1140px){
.container {
    padding-left: 10px!important;
    padding-right: 10px!important;
	}
}

.footer-button{
	width: 243px;
	height: 46px;
	line-height: 10px;
	text-align: left;
	padding-left: 15px;
	font-size: 16px;
    cursor: pointer;
    background-color: #303030;
    text-transform: uppercase;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    outline: none;
}
